@charset "utf-8";

.login {
  padding-top: 30%;
  text-align: center;

  strong {
    display: block;
    font-size: 24px;
    line-height: 48px;
  }

  .error-msg {
    color: red;
  }

  .form {

    input {
      display: block;
      width: 300px;
      margin: 0 auto;
      padding: 0 8px;
      font-size: 20px;
      line-height: 30px;
    }

    input + input {
      margin-top: 10px;
    }

    input[type="submit"]:hover {
      background: #bf7777;
    }
  }
}
