@charset 'utf-8';
@import '../../../public/style/common';

header {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  line-height: 30px;
  font-size: 21px;
  background-color: darkgrey;
  @include clear;

  .login-info {
    float: right;
  }
}
