@charset 'utf-8';

@import '../../../public/style/common';

.post {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
  @include clear;
  
  $header-height: 50px;
  header {
    height: $header-height;
    padding-right: 15px;
    
    strong {
      line-height: $header-height;
    }
    
    a {
      float: right;
      line-height: $header-height;
      font-size: 18px;
    }
  }

  &-editor {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 0.5em;
    width: 100%;
    height: calc(100% - #{$header-height});
    overflow-y: auto;

    // scroll
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #de8438;
    }

    body::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    &::-webkit-scrollbar-button:vertical:increment {
      background: transparent;
    }

    &::-webkit-scrollbar-button:vertical:decrement {
      background: transparent;
    }
  }
}
