@charset 'utf-8';

@import '../../../public/style/common';

main {
  width: 100%;
  height: 100vh;

  // header 땡기기
  margin-top: -10vh;
  padding-top: 10vh;

  // footer 땡기기
  margin-bottom: -5vh;
  padding-bottom: 5vh;
}
