@charset 'utf-8';

@import '../../../../public/style/common.scss';

.menu {
  position: fixed;
  margin-left: -200px;
  width: 240px;
  height: calc(100% - 54px);
}

.main_menu {
  float: left;
  background-color: lightblue;
  width: 200px;
  height: 100%;
  transition: all 0.3s ease 0s;
  
  @include clear;

  &.on,
  &_toggle_btn.on {
    transform: translateX(200px);
  }

  &.close,
  &_toggle_btn.close {
    transform: translateX(0px);
  }

  &_toggle_btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    background-color: mediumpurple;
    color: darkslateblue;
    transition: all 0.3s ease 0s;
  }
}
