@charset 'UTF-8';

@mixin clear {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 360px) {
    @content;
  }
}

@mixin one-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin multi-line-ellipsis($line-clamp, $line-height) {
  height: $line-clamp * $line-height;
  line-height: $line-height;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: $line-clamp;
  -webkit-box-orient: vertical;
}
